In [ ]:
-- Find the second highest salary from the Employee table.