In [ ]:
-- Find the second highest salary from the Employee table.

-- method1:

select 
    max(salary)
from
    employees
where salary < (
    select max(salary)
    from employees
)

-- method2:
-- Used dense_rank because 
select
    *
from
    (
    select 
        firstname,
        lastname,
        salary,
        dense_rank() over(order by salary desc) as sal_order
    ) t
where sal_order = 2

-- method3:

-- I can place the above inner query from method2 inside a CTE and query it

In [ ]:
-- Find duplicate records in a table.