In [ ]:
-- Find the second highest salary from the Employee table.

-- method1:

select 
    max(salary)
from
    employees
where salary < (
    select max(salary)
    from employees
)

-- method2:
-- Used dense_rank because 
select
    *
from
    (
    select 
        firstname,
        lastname,
        salary,
        dense_rank() over(order by salary desc) as sal_order
    ) t
where sal_order = 2

-- method3:

-- I can place the above inner query from method2 inside a CTE and query it

In [ ]:
-- Find duplicate records in a table.

-- method:1

select
    firstname,
    lastname,
    email,
    phone,
    count(1) as dup_count
from employees
group by firstname, lastname, email, phone
having count(1) > 1

-- method:2 [Wrong]

select 
    *
from (
    select
        firstname,
        lastname,
        email,
        phone,
        row_number() over(partition by firstname, lastname order by firstname, lastname ) as dup_order
    from
    employees
) t
where dup_order > 1

In [ ]:
-- Retrieve employees who earn more than their manager.

select
    e.name as employee_name,
    m.name as manager_name,
    e.salary as employee_salary,
    m.salary as manager_salary
from
    employees e join employees m
on
    e.manager_id = m.emp_id
where
    e.salary > m.salary

In [ ]:
-- Count employees in each department having more than 5 employees.

select
    dept_id,
    count(1) as emp_count
from
    employees
group by 
    dept_id
having count(1) > 5

In [ ]:
-- Find employees who joined in the last 6 months.

select
    firstname,
    email,
    salary,
    hiredate
from
    employees
where
    hiredate >= (current_date() - interval '6 months')

In [ ]:
-- Get departments with no employees.

select 
    d.dept_id,
    e.emp_id,
    e.firstname,
    e.lastname
from
    dept d
left join
    employees e
on 
    d.dept_id = e.dept_id
where
    e.emp_id is null

In [ ]:
-- Write a query to find the median salary.

select
    percentile_cont(0.5) within group (order by salary) over() as med
from 
    employees