In [ ]:
SELECT 
	distinct year(birth_date) 
FROM patients
order by year(birth_date)

In [ ]:
SELECT 
	first_name
FROM patients
group by first_name
Having count(*) = 1

In [ ]:
SELECT 
	patient_id,
    first_name
FROM patients
WHERE
	len(first_name) >=6
AND
	lower(first_name) LIKE 's%s'

In [ ]:
Select 
	p.patient_id,
    p.first_name,
    p.last_name
from patients p
JOIN admissions a
on p.patient_id = a.patient_id
where a.diagnosis = 'Dementia'

In [ ]:
SELECT first_name
from patients
order by LEN(first_name), first_name ASC

In [ ]:
SELECT 
	count(CASE
    	WHEN gender = 'M' then 1
     end) as male_count,
     count(CASE
    	WHEN gender = 'F' then 1
     end) as female_count
from patients

SELECT 
  SUM(Gender = 'M') as male_count, 
  SUM(Gender = 'F') AS female_count
FROM patients

SELECT 
  (SELECT count(*) FROM patients WHERE gender='M') AS male_count, 
  (SELECT count(*) FROM patients WHERE gender='F') AS female_count;

In [ ]:
select
	first_name,
    last_name,
    allergies
FROM patients
WHERE allergies = 'Penicillin' or allergies = 'Morphine'
ORDER By allergies, first_name, last_name

SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  allergies IN ('Penicillin', 'Morphine')
ORDER BY
  allergies,
  first_name,
  last_name;

In [ ]:
select
	p.patient_id,
    a.diagnosis
FROM patients p
join admissions a
on p.patient_id = a.patient_id
group by p.patient_id, a.diagnosis
HAVING count(*) > 1

In [ ]:
SELECT
	city,
    count(patient_id) as num_patients
FROM patients
group by city
order by count(patient_id) desc, city

In [ ]:
SELECT first_name, last_name, 'Patient' as role FROM patients
    union all
select first_name, last_name, 'Doctor' from doctors;

In [ ]:
SELECT
  allergies,
  COUNT(*) AS total_diagnosis
FROM patients
WHERE
  allergies IS NOT NULL
GROUP BY allergies
ORDER BY total_diagnosis DESC

SELECT
  allergies,
  count(*)
FROM patients
WHERE allergies NOT NULL
GROUP BY allergies
ORDER BY count(*) DESC

SELECT
  allergies,
  count(allergies) AS total_diagnosis
FROM patients
GROUP BY allergies
HAVING
  allergies IS NOT NULL
ORDER BY total_diagnosis DESC

In [ ]:
SELECT
	first_name,
    last_name,
    birth_date
from
	patients
where year(birth_date) >= 1970 and year(birth_date) <= 1979
order by birth_date

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  YEAR(birth_date) BETWEEN 1970 AND 1979
ORDER BY birth_date ASC;

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  birth_date >= '1970-01-01'
  AND birth_date < '1980-01-01'
ORDER BY birth_date ASC

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE year(birth_date) LIKE '197%'
ORDER BY birth_date ASC

In [ ]:
SELECT
	concat(upper(last_name),',',lower(first_name)) as new_name_format
from
	patients
order by first_name desc

SELECT
  UPPER(last_name) || ',' || LOWER(first_name) AS new_name_format
FROM patients
ORDER BY first_name DESC;

In [ ]:
SELECT
	province_id,
    sum(height) sum_height
from
	patients
group by province_id
having sum(height) > 7000

select * from (select province_id, SUM(height) as sum_height FROM patients group by province_id) where sum_height >= 7000;

In [ ]:
SELECT
	max(weight) - min(weight) as weight_delta
from
	patients
where last_name = 'Maroni'

In [ ]:
SELECT
  DAY(admission_date) AS day_number,
  COUNT(*) AS number_of_admissions
FROM admissions
GROUP BY day_number
ORDER BY number_of_admissions DESC

In [ ]:
SELECT
	*
from
	admissions
where patient_id = 542
order by admission_date desc limit 1

SELECT *
FROM admissions
WHERE patient_id = 542
GROUP BY patient_id
HAVING
  admission_date = MAX(admission_date);

SELECT *
FROM admissions
WHERE
  patient_id = '542'
  AND admission_date = (
    SELECT MAX(admission_date)
    FROM admissions
    WHERE patient_id = '542'
  )

SELECT *
FROM admissions
GROUP BY patient_id
HAVING
  patient_id = 542
  AND max(admission_date)

In [ ]:
select
	patient_id,
    attending_doctor_id,
    diagnosis
from
	admissions
where
	(patient_id %2 <> 0 AND attending_doctor_id IN (1,5,19)) OR
    (attending_doctor_id LIKE '%2%' AND len(patient_id) = 3)

In [ ]:
SELECT
  first_name,
  last_name,
  count(*) as admissions_total
from admissions a
  join doctors ph on ph.doctor_id = a.attending_doctor_id
group by attending_doctor_id

SELECT
  first_name, last_name, count(*)
from
  doctors p, admissions a
where
  a.attending_doctor_id = p.doctor_id
group by p.doctor_id;

In [ ]:
SELECT
	d.doctor_id,
    concat(d.first_name,' ', d.last_name) as full_name,
	min(a.admission_date) as first_admission_date,
    MAX(a.admission_date) as last_admission_date
from doctors d
join admissions a
on d.doctor_id = a.attending_doctor_id
group by d.doctor_id

In [ ]:
SELECT
	pro.province_name,
    count(*) as patient_count
from province_names pro
join patients p
on pro.province_id = p.province_id
group by pro.province_name
order by patient_count desc

In [ ]:
SELECT
	concat(p.first_name, ' ', p.last_name) as patient_name,
    a.diagnosis,
   	concat(d.first_name, ' ', d.last_name) as doctor_name
from patients p
join admissions a on p.patient_id = a.patient_id
join doctors d on a.attending_doctor_id = d.doctor_id

In [ ]:
select
	first_name,
    last_name,
    count(*) as num_of_duplicates
from patients
group by first_name, last_name
having count(*) > 1

In [ ]:
select
	concat(first_name,' ', last_name) as patient_name,
    round(height/30.48,1),
    round(weight*2.205,0),
    birth_date,
    case when gender = 'M' then 'MALE' else 'FEMALE' end as gender_type
from patients