In [ ]:
SELECT 
	distinct year(birth_date) 
FROM patients
order by year(birth_date)

In [ ]:
SELECT 
	first_name
FROM patients
group by first_name
Having count(*) = 1

In [ ]:
SELECT 
	patient_id,
    first_name
FROM patients
WHERE
	len(first_name) >=6
AND
	lower(first_name) LIKE 's%s'

In [ ]:
Select 
	p.patient_id,
    p.first_name,
    p.last_name
from patients p
JOIN admissions a
on p.patient_id = a.patient_id
where a.diagnosis = 'Dementia'

In [ ]:
SELECT first_name
from patients
order by LEN(first_name), first_name ASC

In [ ]:
SELECT 
	count(CASE
    	WHEN gender = 'M' then 1
     end) as male_count,
     count(CASE
    	WHEN gender = 'F' then 1
     end) as female_count
from patients

SELECT 
  SUM(Gender = 'M') as male_count, 
  SUM(Gender = 'F') AS female_count
FROM patients

SELECT 
  (SELECT count(*) FROM patients WHERE gender='M') AS male_count, 
  (SELECT count(*) FROM patients WHERE gender='F') AS female_count;

In [ ]:
select
	first_name,
    last_name,
    allergies
FROM patients
WHERE allergies = 'Penicillin' or allergies = 'Morphine'
ORDER By allergies, first_name, last_name

SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  allergies IN ('Penicillin', 'Morphine')
ORDER BY
  allergies,
  first_name,
  last_name;

In [ ]:
select
	p.patient_id,
    a.diagnosis
FROM patients p
join admissions a
on p.patient_id = a.patient_id
group by p.patient_id, a.diagnosis
HAVING count(*) > 1

In [ ]:
SELECT
	city,
    count(patient_id) as num_patients
FROM patients
group by city
order by count(patient_id) desc, city

In [ ]:
SELECT first_name, last_name, 'Patient' as role FROM patients
    union all
select first_name, last_name, 'Doctor' from doctors;